<html>
    <head></head>
        <title>
            Get-POSt
        </title>
        <meta charset='utf-8'>
    </head>
    <body>
        <h3>Submitted Post Data</h3>
        <p>
            <%= data.username %>
            <%= data.password %>
        </p>
    </body>
</html>